<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ORM leak</title>
    </head>
    <body>
        <h1>ORMベースの情報漏えい</h1>

        <h1>脆弱会社 社員紹介サイト</h1>
        <form method="GET" action="">
            <input type="text" name="name" placeholder="社員名で検索">
            <button type="submit">検索</button>
        </form>
        <a href="{% url 'index' %}">top</a>

        <hr>

        {% if results %}
            <p style="color: green;"><strong>{{ results.count }}人の社員</strong></p>
            <ul>
                {% for emp in results %}
                    <li>{{ emp.name }}（{{ emp.department }}）</li>
                {% endfor %}
            </ul>
        {% else %}
            <p style="color: red;">該当する社員はいません。</p>
        {% endif %}
    </body>
</html>